.root {
    -fx-background-image: url("back.png");
}
.tooltip{
	-fx-background-color: #71af8c;
}
#error{
	-fx-background-color: #ffefd5;
}

.button {
    -fx-background-radius: 0.0;
    -fx-background-color: #71af8c;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: white;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}
.button:hover {
    -fx-background-color: #3a3a3a;
    -fx-cursor:hand
}
.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}
#headPane{
	-fx-background-color: #67a582;
}

#headLabel:hover{
	-fx-background-color: #5d9b78;
}
#headLabel{
	-fx-background-color: #71af8c;
}
#innerBar{
	-fx-background-color: #71af8c;
}
#back{
	-fx-background-image: url("back5.png");
}
#singlePane{
	-fx-background-image: url("back5.png");
}
#repositoryName:hover{
	-fx-text-fill: #77DDFF;
	-fx-cursor:hand
}
#userName:hover{
	-fx-text-fill: #77DDFF;
	-fx-cursor:hand
}
#tool:hover{
	-fx-cursor:hand
}
#tag{
	-fx-font-family:"Microsoft YaHei"
}
#tag:hover{
	-fx-background-color:#5d9b78;
}
.scroll-pane .scroll-bar:horizontal .thumb,

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#434343,20%);
    -fx-opacity: 0.2;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 3em;
}
.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar .increment-button {
  visibility: hidden;
}

.scroll-pane .scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:horizontal {
  visibility: hidden;
}
.scroll-pane .scroll-bar:vertical .track-background {
  visibility: hidden;
}

.scroll-pane .scroll-bar:vertical .track {
  visibility: hidden;
}

.scroll-pane .hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal:hover .track ,

.scroll-pane .scroll-bar:horizontal:pressed .track ,

.scroll-pane .scroll-bar:vertical:hover .track,

.scroll-pane .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#434343,20%);
     -fx-opacity: 0.2;
     fx-background-radius: 0em;
}
.scroll-pane .scroll-bar .thumb:hover ,

.scroll-pane .scroll-bar .thumb:pressed {
     -fx-background-color: derive(#434343,20%);
     -fx-opacity: 0.5;
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 3em;
}
.chart-bar {
    -fx-background-color: rgba(255,218,185,0.8);
    -fx-border-color: rgba(131,175,155,0.5) rgba(131,175,155,0.5) transparent rgba(131,175,155,0.5);
    -fx-background-radius: 0;
    -fx-background-position: left center;
}
.default-color0.chart-area-symbol {
	visibility: hidden;
}
.default-color0.chart-series-area-line { -fx-stroke: #70CF9F; }
.default-color0.chart-series-area-fill { -fx-fill: #70CF9F; }

.table-view *.scroll-bar *.increment-button,
.table-view *.scroll-bar *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar *.increment-arrow,
.table-view *.scroll-bar *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.table-view:row-selection{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: #67a582;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-family:"Microsoft YaHei"
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #9FDFBF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #70CF9F;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #67a582;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.data0.chart-pie { -fx-pie-color: pink; }
.data1.chart-pie { -fx-pie-color: salmon; }
.data2.chart-pie { -fx-pie-color: sandybrown; }
.data3.chart-pie { -fx-pie-color: gold; }
.data4.chart-pie { -fx-pie-color: lightgreen; }
.data5.chart-pie { -fx-pie-color: mediumaquamarine; }
.data6.chart-pie { -fx-pie-color: skyblue; }
.data7.chart-pie { -fx-pie-color: plum; }
.data8.chart-pie { -fx-pie-color: mediumslateblue; }