<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.dao.MemberMapper">
  <select id="searchMember" parameterType="edu.nju.model.Member" resultType="edu.nju.model.Member">
    select * from member where username=#{username} and password=#{password}
  </select>
  <insert id="addMember" parameterType="edu.nju.model.Member" flushCache="true">
    insert into member(username,password,member_email) values(#{username},#{password},#{member_email})
  </insert>

</mapper>