<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.nju.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="edu.nju.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login" property="login" jdbcType="CHAR" />
    <result column="html_url" property="htmlUrl" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="location" property="location" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="CHAR" />
    <result column="blog" property="blog" jdbcType="CHAR" />
    <result column="company" property="company" jdbcType="CHAR" />
    <result column="contributions_fullname" property="contributionsFullname" jdbcType="VARCHAR" />
    <result column="collaboration_fullname" property="collaborationFullname" jdbcType="VARCHAR" />
    <result column="repos_fullname" property="reposFullname" jdbcType="VARCHAR" />
    <result column="public_repos" property="publicRepos" jdbcType="INTEGER" />
    <result column="public_gists" property="publicGists" jdbcType="INTEGER" />
    <result column="followers" property="followers" jdbcType="INTEGER" />
    <result column="following" property="following" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="popular_score" property="popularScore" jdbcType="DOUBLE" />
    <result column="teamwork_score" property="teamworkScore" jdbcType="DOUBLE" />
    <result column="liveness_score" property="livenessScore" jdbcType="DOUBLE" />
    <result column="experience_score" property="experienceScore" jdbcType="DOUBLE" />
    <result column="quantity_score" property="quantityScore" jdbcType="DOUBLE" />
    <result column="languages" property="languages" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login, html_url, type, avatar_url, name, location, email, blog, company, contributions_fullname, 
    collaboration_fullname, repos_fullname, public_repos, public_gists, followers, following, 
    created_at, updated_at, popular_score, teamwork_score, liveness_score, experience_score, 
    quantity_score, languages
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 以下为自定义方法-->
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user
  </select>
  <select id="selectByLogin" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where login = #{login,jdbcType=VARCHAR}
  </select>
  <select id="selectAllWithPager" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from user
    limit #{pageOffset},#{pageSize}
  </select>
  <select id="searchUser" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from user
    where login LIKE "%"#{name}"%"
    limit #{pageOffset},#{pageSize}
  </select>
  <select id="countFirst30Companys" resultType="hashmap">
    select company,count(id) as c
    from user
    group by company
    order by c desc
    limit 30;
  </select>
  <select id="selectUserByLanguage" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from user
    where languages REGEXP #{language}"[^S]"
    limit #{pageOffset},#{pageSize}
  </select>
  <select id="selectUserByCompany" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from user
    where company = #{company}
    limit #{pageOffset},#{pageSize}
  </select>
  <!-- 分页辅助方法-->
  <select id="countAll" resultType="java.lang.Integer">
    select
    count(id)
    from user
  </select>
  <select id="countSearch" resultType="java.lang.Integer" parameterType="java.lang.String">
    select
    count(id)
    from user
    where login LIKE "%"#{name}"%"
  </select>
  <select id="countLanguage" resultType="java.lang.Integer" parameterType="java.lang.String">
    select
    count(id)
    from user
    where languages REGEXP #{language}"[^S]"
  </select>
  <select id="countCompany" resultType="java.lang.Integer" parameterType="java.lang.String">
    select
    count(id)
    from user
    where company = #{company}
  </select>
</mapper>